<a href="https://colab.research.google.com/github/johnsonadam187/scikit_ml_projects/blob/main/housing_data_multiple_regr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Download and import data for california house prices.We will download a file stored at a Kaggle. First we have to create an auth token to Kaggle and store it in a folder on gdrive. Then we create an environment object and navigate to the kaggle.json auth token.

---

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
import os
os.environ["KAGGLE_CONFIG_DIR"] = "/content/gdrive/MyDrive/ML Datasets/Kaggle"

In [4]:
!cd "/content/gdrive/MyDrive/ML Datasets/Kaggle"

Check whats in the directory

In [5]:
!dir

gdrive	sample_data

Next we need to get the API command from the specific dataset

In [6]:
!kaggle datasets download -d camnugent/california-housing-prices

Downloading california-housing-prices.zip to /content
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 53.1MB/s]

We will create a separate folder to extract the files from the zip folder, and move the folder into it.

In [11]:
!mkdir "/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing"

In [14]:
!mv /content/california-housing-prices.zip "/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing"

In [18]:
!cd "/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/"

In [25]:
!unzip '/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/california-housing-prices.zip'

Archive:  /content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/california-housing-prices.zip
replace housing.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: housing.csv

In [29]:
!mv housing.csv "/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/"

In [33]:
%cd "/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/"

/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing

In [34]:
!dir

california-housing-prices.zip  housing.csv

Examine the data

In [35]:
df1 = pd.read_csv("/content/gdrive/MyDrive/ML Datasets/Kaggle/California_Housing/housing.csv")
df1.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [36]:
df1.shape

(20640, 10)

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

We have a categorical column "ocean_proximity". We must encode as numerical.

In [40]:
df1 = pd.get_dummies(data=df1, columns=["ocean_proximity"])
df1.head(3)

   longitude  latitude  ...  ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
0    -122.23     37.88  ...                         1                           0
1    -122.22     37.86  ...                         1                           0
2    -122.24     37.85  ...                         1                           0

[3 rows x 14 columns]

In [41]:
df1.shape

(20640, 14)